/.svn/
/target/
/src/test/java/cn/
/src/test/java/mytest/
/.externalToolBuilders/
/.settings/
/.project
/.classpath
/.externalToolBuilders/
/.settings/
/.idea/
*.iml
*.ipr
*.iws
/build*.xml

/bin/
tarForCore2/
logs/agentApi2.log.2019-06-13.0.gz
